<div class="food-buttons" ng-controller="TopbarCtrl">
    <a ui-sref=".search" class="btn btn-primary search" ng-class="getClass('/eat/search')">Search</a>
    <a ui-sref=".myfoods" class="btn btn-primary myfoods" ng-class="getClass('/eat/myfoods')">My Foods</a>
    <a ui-sref=".mymeals" class="btn btn-primary mymeals" ng-class="getClass('/eat/mymeals')">My Meals</a>
</div>

<div class="row" style="margin-top: 10px">
    <div class="col-md-7">
        <div ui-view></div>
    </div>

    <div class="col-md-4">
        <div id="mealbox" ui-view="mealbox" ng-controller="MealboxCntr"></div>
    </div>
</div>