
<div class="row">
    <div class="col-md-4"><h3>Mealbox</h3></div>
    <div class="col-md-6 date-picker">
        <span>Food consumption for</span>
        <datepicker date-format="dd-MM-yyyy" selector="form-control">
            <div class="input-group">
                <input class="form-control" type="text" name="date" placeholder="Choose a date" ng-model="mealbox.date" />
            </div>
        </datepicker>
    </div>
</div>
<hr>

<div class="row food-row" ng-repeat="(ndbno,food) in foods">
    <div class="col-md-12 food-container">
        <p>{{ food.name }}</p>
        <div class="col-md-9">Amount: {{ food.selectedMeasure.qty }} {{ food.selectedMeasure.label }}</div>
        <div class="col-md-3"><button type="button" class="btn btn-danger" ng-click="deleteFood(food)">Delete</button></div>
    </div>
</div>

<div ng-show="hasFood()">
    <hr>

    <div class="row">
        <div class="col-md-4 save-text">Save mealbox as</div>
        <div class="col-md-4"><input type="text" class="form-control"  placeholder="Name" ng-model="mealbox.name"></div>
        <div class="col-md-4"><button type="button" class="btn btn-success" ng-click="saveAndAdd()">Save & Add</button></div>
    </div>
    <p class="or-text">or</p>
    <div class="row">
        <div class="col-md-12 without-button"><button type="button" class="btn btn-success" ng-click="addWithoutSaving()">Add Without Saving</button></div>
    </div>
</div>