/* Topbar Left */

#topbar {
    display: flex;
}
#topbar-left {
    background-color: #2a85a0;
    padding: 30px;
    display: flex;
    flex-direction: column;
}
#topbar-left .name-row .user-icon {
    float: left;
}
#topbar-left .name-row h1 {
    width: 50%;
    float: left;
    margin-top: 10px;
    margin-left: 30px;
}
#topbar-left .name-row .gear-icon {
    float: right;
    cursor: pointer;
}
#topbar-left .icon-row-1 {
    padding-top: 30px;
}
#topbar-left .icon-row-1 .weight-icon {
    float: left;
}
#topbar-left .icon-row-1 p.weight {
    margin-left: 30px;
    float: left;
    font-size: 22px;
}
#topbar-left .icon-row-1 .height-icon {
    float: left;
}
#topbar-left .icon-row-1 p.height {
    margin-left: 30px;
    float: left;
    font-size: 22px;
}
#topbar-left .icon-row-2 {
    padding-top: 30px;
}
#topbar-left .icon-row-2 .bmi-icon {
    float: left;
}
#topbar-left .icon-row-2 p.bmi {
    margin-left: 30px;
    float: left;
    font-size: 22px;
}
#topbar-left .icon-row-2 .birthday-icon {
    float: left;
}
#topbar-left .icon-row-2 p.birthday {
    margin-left: 30px;
    float: left;
    font-size: 22px;
}
#topbar-left .icon-row-3 {
    padding-top: 30px;
}
#topbar-left .icon-row-3 .note-icon {
    float: left;
}
#topbar-left .icon-row-3 p.notes {
    margin-left: 30px;
    float: left;
    font-size: 22px;
}


/* Edit Modal */

#editModal form .row {
    margin-top: 10px;
    margin-bottom: 10px;
}
#editModal form input.weight, #editModal form input.height {
    width: 60px;
}
#editModal b.unit {
    position: absolute;
    bottom: 0px;
    margin-left: 3px;
    font-size: 14px;
}


/* Topbar Right */

#topbar-right {
    background-color: #3C8FA0;
    display: flex;
    flex-direction: column;
}




/* Eat */

/* Food Search */


#foodSearch .nutrient-detail-show {
    height: 300px;
    visibility: visible;

    -webkit-transition: height 0.8s;
	-moz-transition: height 0.8s;
	transition: height 0.8s;
}

#foodSearch .nutrient-detail-hide {
    height: 0px;
    visibility: hidden;

    -webkit-transition: height 0.8s;
	-moz-transition: height 0.8s;
	transition: height 0.8s;
}

#foodSearch .nutrient-detail {
    overflow: hidden;
    position: relative;
}

#foodSearch .nutrient-detail-table {
    height:100%;
    overflow: scroll;
}
#foodSearch .nutrient-detail-right {

}

#foodSearch .food-row {
    margin: 5px 0;
    padding-left: 20px;
    border-radius: 6px;
    border: 1px solid #aeaeae;
}

#foodSearch .food-row label {
    padding-top: 7px;
}





/* My Foods */


#myFoods .nutrient-detail-show {
    height: 300px;
    visibility: visible;

    -webkit-transition: height 0.8s;
	-moz-transition: height 0.8s;
	transition: height 0.8s;
}

#myFoods .nutrient-detail-hide {
    height: 0px;
    visibility: hidden;

    -webkit-transition: height 0.8s;
	-moz-transition: height 0.8s;
	transition: height 0.8s;
}

#myFoods .nutrient-detail {
    overflow: hidden;
    position: relative;
}

#myFoods .nutrient-detail-table {
    height:100%;
    overflow: scroll;
}
#myFoods .nutrient-detail-right {

}

#myFoods .food-row {
    margin: 5px 0;
    padding-left: 20px;
    border-radius: 6px;
    border: 1px solid #aeaeae;
}

#myFoods .food-row label {
    padding-top: 7px;
}




/* My Meals */



#myMeals .food-detail-show {
    max-height: 300px;
    visibility: visible;

    -webkit-transition: max-height 0.8s;
	-moz-transition: max-height 0.8s;
	transition: max-height 0.8s;
}

#myMeals .food-detail-hide {
    max-height: 0px;
    visibility: hidden;

    -webkit-transition: max-height 0.8s;
	-moz-transition: max-height 0.8s;
	transition: max-height 0.8s;
}

#myMeals .food-detail {
    overflow: hidden;
    position: relative;
}

#myMeals .food-detail-table {
    height:100%;
    overflow: scroll;
}
#myMeals .food-detail-right {

}

#myMeals .recipe-row {
    margin: 5px 0;
    padding-left: 20px;
    border-radius: 6px;
    border: 1px solid #aeaeae;
}

#myMeals .recipe-row label {
    padding-top: 7px;
}



/* Mealbox */

#mealbox {
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(132, 215, 194, 0.35);
    border: 1px solid #8bd7b7;
}

#mealbox .date-picker {
    float: right;
}

#mealbox .date-picker span {
    font-size: 12px;
    color: #7d7d7d;
}

#mealbox .food-row {
    padding-left: 10px;
    padding-right: 10px;
}

#mealbox .food-row .food-container {
    background-color: #b7ebeb;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom:10px;
}

#mealbox .save-text {
    margin-top: 7px;
    text-align: right
}

#mealbox .or-text {
    text-align: center;
    margin-top: 10px
}

#mealbox .without-button button {
    margin: auto;
    display: block;
}






/* Activities */

#activities {
	width: 50%;
	margin: auto;
}

#activities .activity-detail-show {
    height: 50px;
    visibility: visible;

    -webkit-transition: height 0.8s;
	-moz-transition: height 0.8s;
	transition: height 0.8s;
}

#activities .activity-detail-hide {
    height: 0px;
    visibility: hidden;

    -webkit-transition: height 0.8s;
	-moz-transition: height 0.8s;
	transition: height 0.8s;
}

#activities .activity-detail {
    overflow: hidden;
    position: relative;
}


#activities .activity-row {
    margin: 5px 0;
    padding-left: 20px;
    border-radius: 6px;
    border: 1px solid #aeaeae;
}

#activities .activity-row label {
    padding-top: 7px;
}




/* Reports */

#reports .date-row span {

}

#reports .date-row datepicker {

}

#reports .button-col .btn {
    width: 100px;
    margin-top: 20px;
    float: right;
}





#reports .myFoods .date-row {
    margin-bottom: 40px;
}

#reports .myFoods .food-row .delete-button {
    margin-top: 15px;
}

#reports .myFoods .food-row {
    margin: 5px 0;
    padding-left: 20px;
    border-radius: 6px;
    border: 1px solid #aeaeae;
}

#reports .myFoods .food-row label {
    padding-top: 7px;
}

















